# Exercises for part I - Try it at home

## List
 
# 1. Create a list of numbers from 1 to 10

In [233]:
# To define a list we use []

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [213]:
# another way to do this:
# We use () and not [] because "list" here is a function. function that produce list. 
a = list(range(1,11))   
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 2. Append to the list the number 20

In [209]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

# 3. Insert two zeros after the fourth place of the list

In [138]:
# a.insert([])   ??????????????? can i do this in one code line????

a.insert(a.index(4,0)+1,0)
a.insert(a.index(4,0)+1,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10]

In [129]:
a.insert(4,"a")
a

[1, 2, 3, 4, 'a', 5, 6, 7, 8, 9, 10]

# 4. Sort the list in reverse order

In [51]:
a.reverse()
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [214]:
# or , anather why to do this:
a.sort(reverse=True)
a

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# 5. Remove the last two items from the list

In [232]:
# number of different way to do this. 
# way number one:
a.pop(len(a)-1)
a.pop(len(a)-1)
a

[1, 2, 3, 4, 5, 6, 7, 10]

In [234]:
# way number two:
a = a[:-2]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [225]:
# way number tree:
a = a[0:8]
a

[1, 2, 3, 4, 5, 6, 7, 8]

6. Invert the order of the list

In [237]:
a.reverse()
print(a)
# or:
# a.sort(reverse=True)

[1, 2, 3, 4, 5, 6, 7, 8]

7. How many items has the list?

In [238]:
len(a)

8

8. Give the minimum, maximum and the sum of all the items in the list

In [240]:
print("Minimum: %d\nMaximum: %d\nSum: %d" % (min(a),max(a),sum(a)))

Minimum: 1
Maximum: 8
Sum: 36

9. What will happen if you multiply the list by 2?

In [241]:
# i will get the same list twice
a*2

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

10. Can you divide the list by 3?

In [244]:
# The answer is BIG NO ! ! !

# Tupples
 
## 1. Create a tupple with three characters and four numbers

In [258]:
b = ('A','B','C',1,2,3,4)
b

('A', 'B', 'C', 1, 2, 3, 4)

## 2. Append two booleans (false, true) to the tupple

In [259]:
b = b + (True,False)
b

('A', 'B', 'C', 1, 2, 3, 4, True, False)

3. Retrieve the third to sixth items from the tupple

In [248]:
b[2:6]

('C', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [256]:
# My solution: 

b1 = [b[0:3]]
b2 = [b[3:6]]
b3 = [b[6:9]]

NewTupe = (b1,b2,b3)

NewTupe

([('A', 'B', 'C')], [(1, 2, 3)], [(4, True, False)])

In [260]:
# Tomas sulotion: (that sulotion is better! )

b = (list(b[0:3]),list(b[3:7]),list(b[7:9]))
b

(['A', 'B', 'C'], [1, 2, 3, 4], [True, False])

# Sets
 
# # 1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word !! , not a character!

In [265]:
# tomas sulotion: (i didnt succeed that part )

txt = "Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
set(txt.split(" "))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'object.',
 'of',
 'original',
 'that',
 'the',
 'values'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [266]:
# the word " object" for instence apear twice. first time: "object", and the second: "object."

set(txt.replace('.', '').split(" "))

{'A',
 'Shallow',
 'a',
 'an',
 'bit-wise',
 'copy',
 'created',
 'exact',
 'has',
 'in',
 'is',
 'new',
 'object',
 'of',
 'original',
 'that',
 'the',
 'values'}

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

In [273]:
# That dictionary inside dictionary:
c = {
        1020:{'Name':'Harry Smith', 'Position':'Sales Manager','Phone':'030-223.65.44'},
        2201:{'Name':'Margaret Holsum', 'Position':'Sales Representative','Phone':'030-223.64.12'},
        3320:{'Name':'Lasly Howard', 'Position':'Human Resources','Phone':'030-223.83.33'},
        8111:{'Name':'Larry Johnson', 'Position':'Project Manager','Phone':'030-224.22.00'},
        2733:{'Name':'Hellen Young', 'Position':'Customer Service','Phone':'030-223.03.20'}
    }
c

{1020: {'Name': 'Harry Smith',
  'Position': 'Sales Manager',
  'Phone': '030-223.65.44'},
 2201: {'Name': 'Margaret Holsum',
  'Position': 'Sales Representative',
  'Phone': '030-223.64.12'},
 3320: {'Name': 'Lasly Howard',
  'Position': 'Human Resources',
  'Phone': '030-223.83.33'},
 8111: {'Name': 'Larry Johnson',
  'Position': 'Project Manager',
  'Phone': '030-224.22.00'},
 2733: {'Name': 'Hellen Young',
  'Position': 'Customer Service',
  'Phone': '030-223.03.20'}}

In [279]:
# For example:
c[1020]

{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}

In [282]:
# but if we want to pull out date from the inner Dictionary:
c[1020]['Name']

'Harry Smith'

1. Get all the keys of the dictionary

In [284]:

c.keys()

SyntaxError: invalid syntax (<ipython-input-284-453af1f299b6>, line 1)

2. Get all the values of the dictionary

In [269]:
c.values()

dict_values([{'Name': 'Harry Smith', 'Position': 'Sales Manager', 'Phone': '030-223.65.44'}, {'Name': 'Margaret Holsum', 'Position': 'Sales Representative', 'Phone': '030-223.64.12'}, {'Name': 'Lasly Howard', 'Position': 'Human Resources', 'Phone': '030-223.83.33'}, {'Name': 'Larry Johnson', 'Position': 'Project Manager', 'Phone': '030-224.22.00'}, {'Name': 'Hellen Young', 'Position': 'Customer Service', 'Phone': '030-223.03.20'}])

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

In [270]:
c[3320]

{'Name': 'Lasly Howard',
 'Position': 'Human Resources',
 'Phone': '030-223.83.33'}

# Loop programming in python
 

1. Write a script that shows all the residuals of dividing numbers from 1 to 100 by 5 that are different of zero. Use for.. loop and if..else

In [ ]:
a = []
for i in range(1,101):
    if i%5!=0:
        a.append(i%5)

print(a)

2. Write a different solution to the problem in the last question, but using while.. in place of for..

In [ ]:
a = []
i=1

while i < 101:
    if i%5!=0:
        a.append(i%5)
    i=i+1

print(a)