# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

In [154]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# another way to do this:

a = range(5,12)    ???????????????
a

SyntaxError: invalid syntax (<ipython-input-28-1e5354160420>, line 1)

2. Append to the list the number 20

In [121]:
a.append(20)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

3. Insert two zeros after the fourth place of the list

In [138]:
# a.insert([])   ???????????????


a.insert(a.index(4,0)+1,0)
a.insert(a.index(4,0)+1,0)
a

[1, 2, 3, 4, 0, 0, 5, 6, 7, 8, 9, 10]

In [129]:
a.insert(4,"a")
a

[1, 2, 3, 4, 'a', 5, 6, 7, 8, 9, 10]

4. Sort the list in reverse order

In [51]:
a.reverse()
a

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# or , anather why to do this:
a.sort(reverse=True)
a

5. Remove the last two items from the list

In [153]:
a.pop(len(a)-1)
a.pop(
ab = len(a)
a.pop(ab-2:ab-1)
 # why pop count until "end"-1 and len until "end" ??????????????????

[1, 2, 3, 4, 5, 6, 7, 8]

6. Invert the order of the list

In [46]:
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

7. How many items has the list?

In [57]:
len(a)

11

8. Give the minimum, maximum and the sum of all the items in the list

In [62]:
amax = max(a)
amin = min(a)
asum = sum(a)
print(amax)
print(amin)
print(asum)

20
1
75

9. What will happen if you multiply the list by 2?

In [63]:
# i will get the same list twice
a*2

[20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

10. Can you divide the list by 3?

In [66]:
# i think the answer is NO !
b = [a]/3     ???????????

TypeError: unsupported operand type(s) for /: 'list' and 'int'

# Tupples
 
1. Create a tupple with three characters and four numbers

In [168]:
b = ('A','B','C',1,2,3)
b

('A', 'B', 'C', 1, 2, 3)

2. Append two booleans (false, true) to the tupple

In [169]:
b = b + (True,False)
b

('A', 'B', 'C', 1, 2, 3, True, False)

3. Retrieve the third to sixth items from the tupple

In [101]:
b[2:6]

('C', 1, 2, 3)

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

In [172]:
???????????????????? יצרתי רשימה שמורכבת מטופל ולא טופל שמורכב מרשימה

b1 = [b[0:3]]

b2 = [b[3:6]]


NewTupe = (b1,b1)

NewTupe

Object `?????????????????? יצרתי רשימה שמורכבת מטופל ולא טופל שמורכב מרשימה` not found.

([('A', 'B', 'C')], [('A', 'B', 'C')])

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

In [177]:
# ????????????????????? לא הבנתי את השאלה


a =s et("Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object")
a

{' ',
 '-',
 '.',
 'A',
 'S',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y'}

2. Do you see something wierd in this set? What? How can you prevent that?

In [ ]:
???????????????????????????????????

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

1. Get all the keys of the dictionary

2. Get all the values of the dictionary

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

# Loop programming in python
 

1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

In [187]:
# ??????????????????


y = 1
for y in range(100):
    y = y/2
    if (y % 2 == 0):
        print(y,'is primary number')

0.0 is primary number
2.0 is primary number
4.0 is primary number
6.0 is primary number
8.0 is primary number
10.0 is primary number
12.0 is primary number
14.0 is primary number
16.0 is primary number
18.0 is primary number
20.0 is primary number
22.0 is primary number
24.0 is primary number
26.0 is primary number
28.0 is primary number
30.0 is primary number
32.0 is primary number
34.0 is primary number
36.0 is primary number
38.0 is primary number
40.0 is primary number
42.0 is primary number
44.0 is primary number
46.0 is primary number
48.0 is primary number

2. Write a different solution to the problem in the last question, but using while.. in place of for..

range(1, 10)